.env/
.terraform/
kubernetes-logging/terraform/terraform.tfstate
kubernetes-logging/terraform/terraform.tfstate.backup
kubernetes-logging/terraform/terraform.tfvars
kubernetes-logging/terraform/.terraform**
